server:
  port: 48080

spring:
  application:
    name: gateway-server

  profiles:
    active: test

  config:
    import:
      - optional:classpath:application-${spring.profiles.active}.yaml # 加载【本地】配置
      - optional:nacos:${spring.application.name}-${spring.profiles.active}.yaml # 加载【Nacos】的配置
      - optional:nacos:application.yaml # 加载【Nacos】公共配置

  cloud:
    # Spring Cloud Gateway 配置项，对应 GatewayProperties 类
    gateway:
      # 路由配置项，对应 RouteDefinition 数组

      routes:
        ## system-server 服务
        - id: system-admin # 路由的编号
          uri: lb://system-admin-server
          predicates: # 断言，作为路由的匹配条件，对应 RouteDefinition 数组
            - Path=/system-admin/**
          filters:
            - StripPrefix=1
        - id: system-business # 路由的编号
          uri: lb://system-business-app
          predicates: # 断言，作为路由的匹配条件，对应 RouteDefinition 数组
            - Path=/system-business/**
          filters:
            - StripPrefix=1

      x-forwarded:
        prefix-enabled: false # 避免 Swagger 重复带上额外的 /admin-api/system 前缀

